
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&family=Quicksand:wght@700&family=Rubik+Scribble&display=swap');


:root {
    --color-black: #0f0f0f;
    --color-black-claro: #000000ef;
    --color-ico: #b13b60;
    --color-ico-claro: #e61154f1;
    --color-blue: #326ebd;
    --color-blue-claro: #cfddf0;
    --color-gris: #f0f0f0;
    --color-white: #fff;
    --color-green-esmeralda: #228049;
    --color-orange: #e67e22;
    --color-purpura: #9b59b6;
    --color-oscuro: #1e1e2c;
    --color-red-oscuro: #c43a3a;
    --color-red-claro: #c97777;


    --font-montserrat: 'Montserrat', sans-serif;
    --font-press: "Press Start 2P", system-ui;
}

* {
    font-family: var(--font-press);
    user-select: none;
}